version: 2.1
orbs:
  node: circleci/node@5.0.2
  codecov: codecov/codecov@1.0.2

commands:
  install-ipfs:
    steps:
      - run:
          name: "Install IPFS"
          command: |
            wget https://dist.ipfs.io/go-ipfs/v0.7.0/go-ipfs_v0.7.0_linux-amd64.tar.gz
            tar -xvzf go-ipfs_v0.7.0_linux-amd64.tar.gz
            cd go-ipfs && sudo bash install.sh
            ipfs --version
  spawn-ipfs-node:
    description: "Init IPFS repo and spawn a node in background"
    steps:
      - run:
          name: "Init IPFS repos"
          command: ipfs init
      - run:
          name: "Run IPFS Provider node"
          command: ipfs daemon
          background: true
      - run:
          name: "Waiting for the IPFS daemon"
          no_output_timeout: 60s
          command: |
            while (! ipfs id --api=/ip4/127.0.0.1/tcp/5001 2>/dev/null); do
              sleep 1
            done

jobs:
  build-test-lint:
    working_directory: ~/tmp
    docker:
      - image: cimg/node:16.16.0
    executor:
      name: node/default
    steps:
      - checkout
      - install-ipfs
      - spawn-ipfs-node
      - node/with-cache:
          steps:
            - run: npm install
            - run: npm run setup
            - run: npm run build
            - run: npm run lint:ci
            - run: npm run test:ci
            - codecov/upload:
                file: ./reports/coverage-final.json
            - store_test_results:
                path: ./reports/
            - store_artifacts:
                path: ./reports/

workflows:
    build-test-lint:
      jobs:
        - build-test-lint
